.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* ! Temp Color */
  background-color: aquamarine;
}

.login-logo {
  margin-bottom: 5%;
}

.login-container {
  margin-inline: 25%;
  border: 2px solid black;
  text-align: center;
  border-radius: 0.5rem;
  min-width: 30%;
  min-height: 40%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 50%;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  border-radius: 0.5;
  margin-top: 1rem;
}

.login-btn {
  width: 30%;
  margin-inline: auto;
  margin-block: 1.5rem;
}

.signup-link {
  margin-bottom: 1rem;
  font-size: 1.0417vw;
}

@media (max-width: 1000px) {
  .login-container {
    width: 60%;
  }
}
